#filetable {
  margin: 15px;
}

.link-button {
  border-radius: 20em;
  width: 10em;
  border: 1px solid black;
  display: inline-block;
  font-size: initial;
  padding: 5pt;
}

.control-buttons {
  text-align: center;
}

.download-panel {
  clear: both;
  margin-top: 1em;
}

.download-panel form label {
  clear: both;
  padding: 0;
}

.download-panel form input {
  margin-right: 1em;
  width: 5em;
}

.download-panel form input[type="checkbox"] {
  width: 1em;
}