#message-empty {
  display: none;
}

#rte-pair {
  overflow: hidden;
  padding: 0.5em;
}

#text1 {
  margin-bottom: 1em;
}

.navigation-container {
  padding: 1em 0;
  text-align: center;
}

.navigation-container button {
  width: 6em;
}

.text-label {
  float: left;
  font-weight: bold;
  margin-right: 1em;
  width: 8%;
}

.text-content {
  clear: right;
  float: left;
  width: 85%;
}
