.eq-radio {
	display: table;  
	width: 100%;
}
.eq-radio div {
	display: table-cell;
    text-align: center;
	vertical-align: middle;
}
.caption {
	width: 14.285714285714%;
}

.contaiter {
	display: table;
	width: 100%;
}
.column {
	display: table-cell;
	width: 50%;
	padding: 0.5rem;
}
.contaiter h3 {
	text-align: center;
}
#caption-for-chosen {
	text-align: center;
}
.submit {
	text-align: center;
	font-size: 1rem;
}
textarea {
	width: 100%;
}

/* Tooltips */
.annotation-option:hover .tooltip {
  background: #fffAF0;
  border: 1px solid #BA9;
  color: #111;
  display: inline;
  position: absolute;
}
.annotation-option .tooltip {
  display: none;
  margin-left: -10em;
  margin-top: 2em; 
  padding: 1em;
  z-index: 10;
}
