.text {
	border: 1px solid;
	padding: 0.5rem;
	background-color: aliceblue;

	text-align: justify;
}
.text > h2, .text > h3 {
	text-align: center;
}
.text-box {
	padding: 0.5rem;
}
.center-text {
	text-align: center;
}
