.example-group {
  float: left;
}

.example-list {
  margin: 0;
  padding: 0;
}

.explanation {
  float: left;
}

.hint-list {
  list-style-type: disc;
}

.hint {
  padding: 0.5em;
}

.example-box {
  background-color: antiquewhite;
  border: 0.1em solid black;
  float: left;
  padding: 0.5em;
}

.example-box {
  margin-top: 1em;
}

.example-box > li:first-of-type {
  margin-top: 0;
}

.example-box ul {
  margin: 0;
  padding: 0;
}

dd {
  border-top: 0.1em solid black;
}

dd:first-of-type {
  border-top: 0;
}

dd {
  padding: 1em 0;
  width: 85%;
}

dt {
  padding-top: 2em;
}

li p {
  clear: none;
  padding: 0;
  margin: 0;
  float: left;
}

li p:first-of-type {
  
}