{% extends "layout-rte.html" %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}" />
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='jquery-2.1.4.min.js') }}"></script>
{% endblock %}

{% block content %}
    <table id="usertable">
        <thead>
            <tr>
                <th>Annotator name</th>
                <th>Mean agreement</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr class="username-item filename-item">
                    <td>{{ user.name }}</td>
                    <td>{{ "{:.2%}".format(user.agreement) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
