{% extends "layout-comptext.html" %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}" />
{% endblock %}

{% block content %}
    <div id="password-panel">
        <form action="" method="post" >
            <p>
                <label for="old-password" >{{ _('Old password') }}</label>
                <input type="password" id="old-password" name="old-password" />
            </p>
            <p>
                <label for="new-password" >{{ _('New password') }}</label>
                <input type="password" id="new-password" name="new-password" />
            </p>
            <p>
                <label for="new-password-confirm" >{{ _('Confirm password') }}</label>
                <input type="password" id="new-password-confirm" name="new-password-confirm" />
            </p>
            <input type="submit" value="{{ _('Change') }}" />
        </form>
    </div>
{% endblock %}
