<div class="contaiter">
	<div class="column">
		<h3>{{ _('Text') }} 1</h3>
		<div class="text">
			{% autoescape false %}
				{{ pair.text1|htmlify }}
			{% endautoescape %}
		</div>
	</div>
	<div class="column">
		<h3>{{ _('Text') }} 2</h3>
		<div class="text">
			{% autoescape false %}
				{{ pair.text2|htmlify }}
			{% endautoescape %}
		</div>
	</div>
</div>

<form action="{{ url_for('comptext.submit_annotation') }}?pair={{ pair.id }}" method="post">
	<div class="eq-radio">
		<div class="caption">
			<h3><b>{{ _('Text') }} 1</b></h3>
		</div>
		{% for d in difficulties %}
		<div class="annotation-option">
			<input type="radio" required name="complexity" value="{{ loop.index }}" onChange="on_check('{{ d }}')" />
		</div>
		{% endfor %}
		<div class="caption">
			<h3><b>{{ _('Text') }} 2</b></h3>
		</div>

	</div>

	<br />
	<div id="caption-for-chosen">
		<i>{{ _('Choose which text is more complex') }}</i>
	</div>
	<br />

	<textarea name="comment" rows="2" placeholder="{{ _('Optional comment for your annotation') }}"></textarea>
	<br />
	<br />
	<div class="submit"><button class="submit" type="submit">{{ _('Submit') }}</button></div>
</form>

