{% extends "layout-comptext.html" %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='comptext.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='comptext-annotate.css') }}" />
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='jquery-2.1.4.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='comptext-annotate.js') }}"></script>
{% endblock %}

{% block content %}
<h1>{{ _('How to annotate') }}</h1>

<p>A interface sempre apresentará um par de textos.</p>

<p>Para classificar a relação entre eles, você poderá escolher uma entre as cinco opções abaixo:
	<ul>
		<li>O texto 1 é muito mais complexo que o texto 2;</li>
		<li>O texto 1 é um pouco mais complexo que o texto 2;</li>
		<li>O texto 1 e o texto 2 apresentam a mesma complexidade;</li>
		<li>O texto 2 é um pouco mais complexo que o texto 1;</li>
		<li>O texto 2 é muito mais complexo que o texto 1;</li>
	</ul>
</p>
Abaixo dos textos, existem cinco botões que correspondem às classificações acima.<br />
Você pode mudar de opinião selecionando um novo botão.<br />
Há um espaço destinado a comentários sobre a anotação de cada par de textos. O
  comentário, apesar de ser opcional, é muito bem-vindo.<br />
</p>

<p>A classificação escolhida só será computada após o clique no botão
	"Submeter". Nesse momento, sua escolha será gravada e não poderá ser
	alterada. Um novo par aparecerá para anotação.</p>

<h3>Boa anotação!</h3>

<hr />
<h1>Pratique</h1>
<p>Pratique com a interface abaixo, que traz pares de textos diferentes da
	anotação real. A anotação não será contabilizada como anotação do
	experimento.</p>
<p>Quando se sentir confortável com a tarefa, clique no link <b>Complexidade
	Textual</b> para começar a tarefa de anotação real. Você poderá parar
	a tarefa a qualquer momento fechando a janela ou clicando no botão
	<b>Desconectar</b>.</p>

{% include "comptext-annotate-view.html" %}

{% endblock %}
