{% extends "layout-comptext.html" %}

{% block link %}
<link rel="stylesheet" href="{{ url_for("static", filename="comptext-index.css") }}" />
{% endblock %}

{% block content %}
	<ul id="main-menu">
		<li><a class="main-menu" href="{{ url_for("comptext.tutorial") }}">{{ _("How to annotate") }}</a></li>
		<li><a class="main-menu" href="{{ url_for("comptext.annotate_texts") }}">{{ _("Annotate") }}</a></li>
	</ul>
	{% if current_user.have_special_permissions() %}
		<a class="main-menu" href="{{ url_for("comptext.view_texts") }}">{{ _("View texts") }}</a><br />
		<a class="main-menu" href="{{ url_for("comptext.view_annotator") }}">{{ _("View annotators") }}</a><br />
		<a class="main-menu" href="{{ url_for("comptext.view_pair") }}">{{ _("View pairs") }}</a><br />
		<a class="main-menu" href="{{ url_for("comptext.pair_texts") }}">{{ _("Pair texts") }}</a><br />
		<a class="main-menu" href="{{ url_for("comptext.stats") }}">{{ _("Statistics") }}</a><br />
	{% endif %}
{% endblock %}
