{% extends "layout-comptext.html" %}

{% block link %}
<link rel="stylesheet" href="{{ url_for("static", filename="comptext.css") }}" />
{% endblock %}

{% block content %}
{% if only_one %}
	<h1>{{ _("Pair") }} {{ pair.id }}</h1>
	<b>{{ _("Text") }} 1 ({{ _("Linguist Complexity") }}):</b> <a href="{{ url_for("comptext.view_texts", page=0, text_id=pair.text1.id) }}">{{ pair.text1.title }} ({{ pair.text1.complexity_level }})</a> <br />
	<b>{{ _("Text") }} 2 ({{ _("Linguist Complexity") }}):</b> <a href="{{ url_for("comptext.view_texts", page=0, text_id=pair.text2.id) }}">{{ pair.text2.title }} ({{ pair.text2.complexity_level }})</a> <br />
	<b>{{ _("Expected Annotation") }}:</b> {{ difficulty_labels[pair.expected_annotation] }} ({{ pair.expected_annotation }})<br />

	<table>
		<tr>
			<th>{{ _("Annotator") }}</th>
			<th>{{ _("Teacher Annotation") }}</th>
			<th>{{ _("Comment") }}</th>
		</tr>
	{% for a in pair.annotations if a.annotator.test != True %}
		<tr class="data">
			<td><a href="{{ url_for("comptext.view_annotator", annotator_id=a.annotator.id) }}">{{ a.annotator.name }}</a></td>
			<td class="center-text">{{ a.complexity }}</td>
			<td>{{ a.comment }}</td>
		</tr>
	{% endfor %}
	</table>
{% else %}
	{% for p in pair %}
		<a href="{{ url_for("comptext.view_pair", pair_id=p.id) }}">
			{{ _("Pair") }} {{ p.id }}
		</a>
		<br />
	{% endfor %}
{% endif %}
{% endblock %}

