{% extends "layout-comptext.html" %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='comptext-analytics.css') }}" />
{% endblock %}

{% from "table.html" import table, icc_table, confusion_table, num_annotations_table %}

{% block content %}
	<h1>Estatísticas</h1>
	{% set fully_annotated_num = fully_annotated|length %}
	{% if fully_annotated_num > 0 %}
		<b>Total de anotações:</b> {{ num_annotations["total"] }} / {{ expected_num_annotations }}<br>
		<b>Número de pares com {{ DESIRED_ANNOTATIONS_PER_PAIR }} anotações:</b> {{ fully_annotated_num }} / {{ expected_num_annotated_pairs }}<br>
		{% if texts_not_in_fully_annotated %}
			<b>Textos não presentes nos {{ fully_annotated_num }} pares com {{ DESIRED_ANNOTATIONS_PER_PAIR }} anotações:</b>
			{% for t in texts_not_in_fully_annotated %}
				{% if loop.index0 %}, {% endif %}<a href="{{ url_for("comptext.view_texts", page=0, text_id=t.id) }}">{{ t.title }}</a>
			{% endfor %}
			<br>
		{% endif %}
		<b>Número de pares com anotação majoritária (3 ou {{ DESIRED_ANNOTATIONS_PER_PAIR }} anotações concordantes):</b> {{ num_majoritary_voted }} / {{ fully_annotated_num }}<br>
		<br>

		<div class="container">
			<div class="column">
				<b>Kappa de Fleiss entre anotadores e linguistas (utilizando somente os {{ fully_annotated_num }} pares com {{ DESIRED_ANNOTATIONS_PER_PAIR }} anotações):</b> {{ "%.2g"|format(kappa4all) }}<br>
				<br>
				<b>Kappa de Fleiss entre os anotadores (utilizando somente os {{ fully_annotated_num }} pares com {{ DESIRED_ANNOTATIONS_PER_PAIR }} anotações):</b> {{ "%.2g"|format(kappa4teachers) }}<br>
				<br>
				Como interpretar o Kappa:
				{{ table(["Valor de Kappa", "Interpretação"],
						 [["Entre 0 e 0.4", "Pobre"],
						  ["Entre 0.4 e 0.75", "Bom"],
						  ["Entre 0.75 e 1", "Excelente"]])
				}}
				<br>

				<b>Anotações por professor</b>
				{{ num_annotations_table([ _("Annotator"), _("Number of annotations"), _("Number of comments") ], num_annotations["table"], real_name) }}
				<br>
			</div>
			<div class="column">
				Legenda dos valores de anotação:
				{{ table(["Valor", "Abreviação", "Significado"],
						 [["1", "E >> D", value_labels[0]],
						  ["2", "E > D", value_labels[1]],
						  ["3", "E = D", value_labels[2]],
						  ["4", "D > E", value_labels[3]],
						  ["5", "D >> E", value_labels[4]]])
				}}

				<b>Matriz de confusão das {{ num_majoritary_voted }} anotações majoritárias:</b>
				{{ confusion_table(confusion_matrix, labels=["1. E >> D", "2. E > D", "3. E = D", "4. D > E", "5. D >> E", "Total"]) }}
				<br>

				<b>Matriz de confusão normalizada das {{ num_majoritary_voted }} anotações majoritárias (em porcentagem):</b>
				{{ confusion_table(normalized_confusion, labels=["1. E >> D", "2. E > D", "3. E = D", "4. D > E", "5. D >> E", "Total"]) }}
				<br>

				<b>Coeficiente de Correlação Intraclasse {{ icc["icc.name"] }} entre professores e linguista</b><br>
				(Modelo = "{{ icc["model"] }}", Tipo = "{{ icc["type"] }}", Unidade = "{{ icc["unit"] }}")<br>
				{{ icc_table(icc) }}
				<br>
				<b>Coeficiente de Correlação Intraclasse Agregando os extremos (1 e 2, 4 e 5) {{ icc_aggregated["icc.name"] }} entre professores e linguista</b><br>
				(Modelo = "{{ icc_aggregated["model"] }}", Tipo = "{{ icc_aggregated["type"] }}", Unidade = "{{ icc_aggregated["unit"] }}")<br>
				{{ icc_table(icc_aggregated) }}
				<b>Coeficiente de Correlação Intraclasse {{ icc_classifier["icc.name"] }} entre professores e classificador</b><br>
				(Modelo = "{{ icc_classifier["model"] }}", Tipo = "{{ icc_classifier["type"] }}", Unidade = "{{ icc_classifier["unit"] }}")<br>
				{{ icc_table(icc_classifier) }}
				<br>
				<b>Coeficiente de Correlação Intraclasse {{ icc4all["icc.name"] }} entre professores para todos os {{ expected_num_annotated_pairs }} pares</b><br>
				(Modelo = "{{ icc4all["model"] }}", Tipo = "{{ icc4all["type"] }}", Unidade = "{{ icc4all["unit"] }}")<br>
				{{ icc_table(icc4all) }}
				<br>

				Como interpretar o Coeficiente de Correlação Intraclasse:
				{{ table(["Valor do CCI", "Interpretação"],
						 [["Menor que 0.40", "Pobre"],
						  ["Entre 0.40 e 0.59", "Razoável"],
						  ["Entre 0.60 e 0.74", "Bom"],
						  ["Entre 0.75 e 1", "Excelente"]])
				}}
				<br>
			</div>
		</div>
		<img src="{{ url_for("static", filename="percent-agreement.png") }}" />
	{% else %}
		Não há pares com anotações suficientes ({{ DESIRED_ANNOTATIONS_PER_PAIR }})
	{% endif %}
{% endblock %}
