{% extends "layout-comptext.html" %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='comptext.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='comptext-annotate.css') }}" />
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='jquery-2.1.4.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='comptext-annotate.js') }}"></script>
{% endblock %}

{% block content %}
{% include "comptext-annotate-view.html" %}
{% endblock %}
