{% extends "layout-comptext.html" %}

{% block link %}
<link rel="stylesheet" href="{{ url_for("static", filename="comptext.css") }}" />
{% endblock %}

{% block content %}
{% if only_one %}
	<h1>{{ annotator.name }}</h1>

	<table>
		<tr>
			<th>{{ _("Pair") }}</th>
			<th>{{ _("Text") }} 1 ({{ _("Linguist Complexity") }})</th>
			<th>{{ _("Text") }} 2 ({{ _("Linguist Complexity") }})</th>
			<th>{{ _("Teacher Annotation") }}</th>
			<th>{{ _("Expected Annotation") }}</th>
			<th>{{ _("Teacher Comment") }}</th>
		</tr>
	{% for a in annotator.comptex_annotations %}
		{% set t1 = a.pair.text1 %}
		{% set t2 = a.pair.text2 %}
		<tr class="data">
			<td class="center-text"><a href="{{ url_for("comptext.view_pair", pair_id=a.pair.id) }}">{{ a.pair.id }}</a></td>
			<td><a href="{{ url_for("comptext.view_texts", page=0, text_id=t1.id) }}">{{ t1.title }} ({{ t1.complexity_level }})</a></td>
			<td><a href="{{ url_for("comptext.view_texts", page=0, text_id=t2.id) }}">{{ t2.title }} ({{ t2.complexity_level }})</a></td>
			<td class="center-text">{{ a.complexity }}</td>
			<td class="center-text">{{ annotator.expected_annotations[loop.index0] }}</td>
			<td>{{ a.comment }}</td>
		</tr>
	{% endfor %}
	</table>
{% else %}
	{% for a in annotator %}
	<a href="{{ url_for("comptext.view_annotator", annotator_id=a.id) }}">{{ a.name }}{% if a.test %} ({{ _("Test") }}){% endif %}</a>
	<br>
	{% endfor %}
{% endif %}
{% endblock %}
