{% extends "layout-rte.html" %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='examples.css') }}" />
{% endblock %}

{% block content %}
<h1>Examples</h1>

<div class="examples">
    <div class="example-group">
        <h2>Entailment</h2>
        <dl>
            <dt>Entailment</dt> 
            <dd>
                <p class="explanation">Se uma das sentenças é verdadeira, podemos concluir que a outra também é, mas não o contrário. Tanto a primeira pode implicar a segunda como vice-versa; há uma opção de anotação para cada. A sentença que implica (<em>entails</em>) a outra é mais específica, podendo informar lugar, tempo, trazer uma oração a mais etc. Também é possível que use palavras mais específicas. Nos exemplos, a primeira implica a segunda.</p>
                <ul class="example-list no-style">
                    <li>
                        <div class="example-box">
                            <ul class="no-style">
                                <li>Nessa quarta, o time abriu 2 a 0 com quatro minutos de jogo.</li>
                                <li>O time abriu 2 a 0 em menos de cinco minutos de jogo.</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="example-box">
                            <ul class="no-style">
                                <li>Como não houve acordo, a reunião será retomada nesta terça, a partir das 10h.</li>
                                <li>As partes voltam a se reunir nesta terça, às 10h.</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </dd>
            
            <dt>Paraphrase</dt>
            <dd>
                <p class="explanation">Se qualquer uma das sentenças é verdadeira, podemos concluir que a outra também é. Na prática, uma sentença é uma reescrita da outra.</p>
                <ul class="example-list no-style">
                    <li>
                        <div class="example-box">
                            <ul class="no-style">
                                <li>Outros 8.869 fizeram a quadra e ganharão R$ 356,43 cada um.</li>
                                <li>Na quadra 8.869 apostadores acertaram, o prêmio é de R$ 356,43 para cada.</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="example-box">
                            <ul class="no-style">
                                <li>Vou convocar um congresso extraordinário para me substituir enquanto presidente.</li>
                                <li>Vou organizar um congresso extraordinário para se realizar a minha substituição como presidente.</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </dd>

            <dt>No relation</dt>
            <dd>
                <p class="explanation">Se uma das sentenças é verdade, não podemos concluir nada sobre a outra. Esse é o caso mesmo quando há uma interseção de conteúdo entre ambas. Só há relação de implicação (<em>entailment</em>) quando o conteúdo de uma está contido na outra.</p>
                <ul class="example-list no-style">
                    <li>
                        <div class="example-box">
                            <ul class="no-style">
                                <li>As apostas podem ser feitas até as 19h (de Brasília).</li>
                                <li>As apostas podem ser feitas em qualquer lotérica do país.</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="example-box">
                            <ul class="no-style">
                                <li>A Defesa Civil catarinense está trabalhando hoje para dimensionar os estragos causados pelo tornado.</li>
                                <li>Amanhã, serão tomadas decisões em conjunto com a Defesa Civil federal.</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </dd>
        </dl>
    </div>

    <div class="example-group">
        <h2>Relatedness / Similarity</h2>
        <dl>
            <dt>1</dt>
            <dd>
                <p class="explanation">As sentenças são completamente diferentes. Não é necessariamente impossível que elas falem do mesmo assunto, mas isso não é visível examinando-as isoladamente, sem contexto.</p>
                <ul class="example-list no-style">
                    <li>
                        <div class="example-box">
                            <ul class="no-style">
                                <li>Mas esta é a primeira vez que um chefe da Igreja Católica usa a palavra em público.</li>
                                <li>A Alemanha reconheceu ontem pela primeira vez o genocídio armênio.</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="example-box">
                            <ul class="no-style">
                                <li>Até o momento, não houve registro de nenhuma vítima.</li>
                                <li>O momento foi flagrado por um chileno, que estava num parque nacional.</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </dd>

            <dt>2</dt>
            <dd>
                <p class="explanation">As sentenças se referem a fatos diferentes e não são semelhantes entre si, mas são sobre o mesmo assunto (jogo de futebol, votações, variações cambiais, acidentes, lançamento de produtos).</p>
                <ul class="example-list no-style">
                    <li>
                        <div class="example-box">
                            <ul class="no-style">
                                <li>Como era esperado, o primeiro tempo foi marcado pelo equilíbrio.</li>
                                <li>No segundo tempo, o panorama da partida não mudou.</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="example-box">
                            <ul class="no-style">
                                <li>Luan levantou na área e Carlos cabeceou forte, mas Rodrigo fez uma incrível defesa à queima-roupa.</li>
                                <li>Cristiano invadiu a área aos 25′, fez o cruzamento e Victor defendeu.</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </dd>

            <dt>3</dt>
            <dd>
                <p class="explanation">As sentenças têm alguma semelhança entre si, e podem se referir ao mesmo fato ou não. </p>
                <ul class="example-list no-style">
                    <li>
                        <div class="example-box">
                            <ul class="no-style">
                                <li>Houve pelo menos sete mortos, entre os quais um cidadão moçambicano, e 300 pessoas foram detidas.</li>
                                <li>Mais de 300 pessoas foram detidas por participar de atos de vandalismo.</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="example-box">
                            <ul class="no-style">
                                <li>Alguns dos suspeitos, todos paquistaneses e afegãos, foram detidos em operações logo cedo em toda a Itália.</li>
                                <li>Um dos suspeitos é um imã radical de Bergamo, no norte da Itália.</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </dd>

            <dt>4</dt>
            <dd>
                <p class="explanation">O conteúdo das sentenças é muito semelhante, mas uma (ou ambas) tem alguma informação exclusiva. A diferença pode ser mencionar uma data, local, quantidade diferente, ou mesmo um sujeito ou objeto diferente.</p>
                <ul class="example-list no-style">
                    <li>
                        <div class="example-box">
                            <strong>Sem implicação</strong>
                            <ul class="no-style">
                                <li>A primeira parte do jogo terminou aos 45′ com vantagem para o Barça por 2 a 0.</li>
                                <li>A partida acabou aos 48′ com vitória do Barça por 2 a 0.</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="example-box">
                            <strong>Sem implicação</strong>
                            <ul class="no-style">
                                <li>Os policiais relataram que os sobreviventes foram levados para o hospital Santa Isabel, em Ubá.</li>
                                <li>Cinco foram encaminhados em estado grave para o Hospital Santa Isabel, em Ubá.</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="example-box">
                            <strong>Primeira implica segunda</strong>
                            <ul class="no-style">
                                <li>Os outros cinco principais reservatórios de abastecimento registraram aumento do volume de água armazenada.</li>
                                <li>Os demais sistemas tiveram alta no volume de água armazenada.</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </dd>

            <dt>5</dt>
            <dd>
                <p class="explanation">As sentenças têm praticamente o mesmo significado, possivelmente com uma diferença mínima (como um adjetivo que não altera a sua interpretação)</p>
                <ul class="example-list no-style">
                    <li>
                        <div class="example-box">
                            <ul class="no-style">
                                <li>Os aditamentos devem ser realizados por meio do Sistema Informatizado do Fies (SisFies).</li>
                                <li>Os aditamentos deverão ser feitos somente pelo Sistema Informatizado do Fies (SisFies).</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="example-box">
                            <ul class="no-style">
                                <li>Outros 8.869 fizeram a quadra e ganharão R$ 356,43 cada um.</li>
                                <li>Na quadra 8.869 apostadores acertaram, o prêmio é de R$ 356,43 para cada.</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </dd>

        </dl>
    </div>

</div>

{% endblock %}
