{% extends "layout.html" %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='comptext.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}" />
{% endblock %}

{% block content %}
	{% include "who-am-i.html" %}

	{% if current_user %}
	<ul id="main-menu">
		<div class="subsystems-table">
{#
			<div class="subsystem">
				<div class="text">
					<h2><a href="{{ url_for('rte.index') }}">RTE</a></h2>
Inferência Textual e Similaridade Semântica
são duas tarefas do processamento de línguas naturais
que tratam de pares de trechos de textos.
O objetivo da primeira é determinar se o significado
de um trecho implica o outro, enquanto que a segunda
atribui uma pontuação de similaridade semântica ao par.
				</div>
			</div>
#}
			<div class="subsystem">
				<div class="text">
					<h2><a href="{{ url_for('comptext.index') }}">Complexidade Textual</a></h2>
Avaliação da Complexidade Textual via comparação de pares
de textos é mais natural do que indicar um valor absoluto ou uma classe de
complexidade para um dado texto. Essa tarefa está adaptada para avaliar
textos de 4 bandas: 3o ano, 4-5o anos, 6-7o anos e 8-9o anos.
				</div>
			</div>
		</div>
		<!-- Other links -->
		<a class="main-menu" href="{{ url_for('change_password') }}">{{ _('Change password') }}</a>
		<br />
		<a class="main-menu" href="{{ url_for('my_annotations') }}">{{ _('My annotations') }}</a>
	</ul>

	{% if current_user.have_special_permissions() %}
		<h4>{{ _('Special permissions') }}</h4>
	{% endif %}
	{% if current_user.may_see_all_statistics() %}
		<a href="{{ url_for('view_users') }}">{{ _('View annotators') }}</a>
		<br />
	{% endif %}
	{% if current_user.is_admin() %}
		<a href="{{ url_for('admin.index') }}">Admin</a><br />
	{% endif %}
		{% if current_user.may_submit_file() %}
			<form action="{{ url_for('submit') }}" method="post" enctype="multipart/form-data">
				<fieldset id="submit-xml">
					<label for="file">{{ _('Submit XML file') }}</label>
					<input name="file" type="file" id="file"/>
					<br />
					<input type="submit" value="{{ _('Submit') }}" />
				</fieldset>
			</form>
		{% endif %}
	{% else %}

	<p>{{ _('You are not logged in') }}. <a href="{{ url_for('login') }}">{{ _('Click here to log in') }}</a>.</p>

	{% endif %}
{% endblock %}
