<!doctype html>
<html>
    <head>
        {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% block link %}{% endblock %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{% block title %}NILC Annotator{% endblock %}</title>
        {% block script %}{% endblock %}
        {% endblock %}
    </head>

    <body>
        <div id="wrapper">
            <div id="header">
                {% block header %}
					<div class="title">
						{%- for breadcrumb in breadcrumbs -%}
							<a href="{{ breadcrumb.url }}">{{ breadcrumb.text }}</a>
							{{ '/' if not loop.last }}
						{% endfor %}
					</div><br />
					{% if session['username'] %}
						<div class="user-info">{{ _('Logged in as') }} {{ session['username'] }} | <a href="{{ url_for('logout') }}">{{ _('Log out') }}</a></div>
					{% endif %}
                {% endblock %}
            </div>
            
            <div id="content">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <ul class="flashes">
                            {% for category, message in messages %}
                                <li class="flash {{ category }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                {% block content %}{% endblock %}
            </div> 
            
            <div id="footer">
                {% block footer %}{% endblock %}
				<p class="developer">{{ _('Developed by') }} {% block developer %}Gil Barbosa Reis - NILC/USP{% endblock %}</p>
				<p class="contact">
					<i class="fa fa-envelope"></i>
					{{ _('Contact') }}:
					<a href="mailto:guten.aval@gmail.com">guten.aval@gmail.com</a>
				</p>
            </div>
        </div>
    </body>
</html>
