{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}" />
{% endblock %}

{% block content %}

{% include "who-am-i.html" %}
<br />
<p><b>Entre para acessar</b></p>

<form action="" method="post">
    <div class="user-login">
        <p><label for="username" >{{ _('User') }}</label><input id="username" type="text" name="username" /></p>
        <p><label for="password" >{{ _('Password') }}</label><input id="password" type="password" name="password" /></p>
        <input class="submit-button" type="submit" value="{{ _('Login') }}" />
    </div>
</form>
{% endblock %}
