{% extends "layout.html" %}

{% block content %}
<h1>{{ _('My annotations') }}</h1>
{#
<h3>RTE</h3>
{% for A in rte %}
{% endfor %}

<hr />
#}

<h3>Complexidade Textual</h3>
{{ _("Total") }}: {{ comptext|length }}
<table>
	<tr>
		<th>{{ _("Text") }} 1</th>
		<th>{{ _("Text") }} 2</th>
	</tr>
{% for A in comptext %}
	<tr class="data">
		<td>{{ A.pair.text1.title }}</td>
		<td>{{ A.pair.text2.title }}</td>
	</tr>
{% endfor %}
</table>

{% endblock %}
