{% extends "layout-comptext.html" %}

{% block content %}
<p><b>Escolha uma forma de pareamento (e seu parâmetro)</b></p>
<form action="{{ url_for('comptext.pair_texts') }}" method="get">
	<label>Intervalos de tamanho</label>
	<input type="text" name="tamanho" placeholder="número de intervalos"
	       value="{{ request.args.get('tamanho', '') }}" />
	(Separação em N intervalos com mesmo número de textos)
	<br />

	<label>Relação entre tamanhos</label>
	<input type="text" name="fator" placeholder="fator"
	       value="{{ request.args.get('fator', '') }}" />
	(Combinação ocorre se <i>1/fator &lt;= tamanho1/tamanho2 &lt;= fator</i>)
	<br />

	<button type="submit">{{ _('See pairs') }}</button>
</form>
<hr>

{% if pairs %}
Total: {{ pairs|length }}<br />
Por bandas:
<ul>
	<li>1 x 1: {{ count.get('1x1', 0) }}</li>
	<li>1 x 2: {{ count.get('1x2', 0) }}</li>
	<li>1 x 3: {{ count.get('1x3', 0) }}</li>
	<li>1 x 4: {{ count.get('1x4', 0) }}</li>
	<li>2 x 2: {{ count.get('2x2', 0) }}</li>
	<li>2 x 3: {{ count.get('2x3', 0) }}</li>
	<li>2 x 4: {{ count.get('2x4', 0) }}</li>
	<li>3 x 3: {{ count.get('3x3', 0) }}</li>
	<li>3 x 4: {{ count.get('3x4', 0) }}</li>
	<li>4 x 4: {{ count.get('4x4', 0) }}</li>
</ul>
<hr>
Pares:<br />
{% for t1, t2 in pairs %}
{{ t1.id }}x{{ t2.id }} 
{% endfor %}
{% endif %}

{% endblock %}

