{% extends "layout-rte.html" %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='comptext-index.css') }}" />
{% endblock %}

{% block content %}
	<ul id="main-menu" class="no-style">
		<li><a class="main-menu" href="{{ url_for('rte.examples') }}">{{ _('Examples') }}</li>
		<li><a class="main-menu" href="{{ url_for('rte.hints') }}">{{ _('Hints') }}</li>
		<li><a class="main-menu" href="{{ url_for('rte.view_files') }}">{{ _('View files') }}</a></li>
	</ul>
{% endblock %}
