{% extends "layout-rte.html" %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='statistics.css') }}" />
{% endblock %}

{% block content %}
    <div id="file-metadata">
        {% if filename %}
            <span class="label">File name:</span>
            <span class="value">{{ filename }}</span>
        {% else %}
            <span class="value">Statistics over all pairs</span>
        {% endif %}
    </div>
    
    <div id="counts">
        <div class="table-wrapper">
            <table class="statistics-table">
                <caption>Statistics over pair with majority vote</caption>
                <thead>
                    <tr>
                        <th>Similarity</th>
                        <th>Count</th>
                        <th>Entailment</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sim_value, ent_value in zip_longest(similarity_counter, entailment_counter) %}
                    <tr class="data">
                        <td>{{ sim_value }}</td>
                        <td class="number">{{ similarity_counter[sim_value] }}</td>
                        <td>{{ ent_value if ent_value else '' }}</td>
                        <td class="number">{{ entailment_counter[ent_value] if ent_value else '' }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <div class="table-wrapper">
            <table class="statistics-table">
                <caption>Statistics on pairs with enough annotations</caption>
                <thead>
                    <tr>
                        <th>Metric</th>
                        <th>Annotation</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for metric in metrics %}
                        <tr class="data">
                            <td>{{ metric[0] }}</td>
                            <td>{{ metric[1] }}</td>
                            <td class="number">{{ 'NA' if metric[2] == None else metric[2] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    <div id="statistics">
        <div class="table-wrapper">
            
        </div>
    </div>
{% endblock %}
