{# Generates a table from a matrix with headers #}
{% macro table(headers, matrix, ifNone=None) -%}
<table>
	<tr>
		{% for h in headers %}
		<th>{{ h }}</th>
		{% endfor %}
	</tr>
	{% for line in matrix %}
	<tr class="data">
		{% for col in line %}
		<td>{% if col == None %}{{ ifNone }}{% else %}{{ col }}{% endif %}</td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>
{%- endmacro %}

{% macro icc_table(icc) -%}
{{ table(["Medida", "Valor"],
		 [["Número de pares", icc["subjects"]],
		  ["Número de anotadores por par", icc["raters"]],
		  ["Resultado", icc["value"]],
		  ["Intervalo de confiança " + (icc["conf.level"] * 100)|string + "%", icc["lbound"]|string + " < ICC < " + icc["ubound"]|string]])
}}
{%- endmacro %}

{% macro confusion_table(matrix, labels) -%}
<table>
	<tr>
		<th>{{ _("Expected") }} \ {{ _("Given") }}</th>
		{% for i in range(labels|length) %}
		<th>{{ labels[i] }}</th>
		{% endfor %}
	</tr>
	{% for line in matrix %}
	{% set outer_loop = loop %}
	<tr class="data">
		<th>{{ labels[loop.index0] }}</th>
		{% for col in line %}
		<td {% if 1 in [loop.revindex, outer_loop.revindex] %}class="total"{% endif %}>
			{{ "%.3g"|format(col) or ifNone }}
		</td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>
{%- endmacro %}

{% macro num_annotations_table(headers, matrix, real_name) -%}
<table>
	<tr>
		{% for h in headers %}
		<th>{{ h }}</th>
		{% endfor %}
	</tr>
	{% for line in matrix %}
	<tr class="data">
		<td>
			{% if line[0] == "Total" %}
				{{ line[0] }}
			{% else %}
				<a href="{{ url_for("comptext.view_annotator", annotator_id=line[0].id) }}">
					{% if real_name %}
						{{ line[0].name }}
					{% else %}
						{{ _("Annotator") }} {{ line[0].id }}
					{% endif %}
				</a>
			{% endif %}
		</td>
		{% for col in line[1:] %}
			<td>{{ col }}</td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>
{%- endmacro %}
