{% extends "layout-comptext.html" %}

{% block link %}
<link rel="stylesheet" href="{{ url_for("static", filename="next-page.css") }}" />
<link rel="stylesheet" href="{{ url_for("static", filename="comptext.css") }}" />
{% endblock %}

{% block content %}
<div class="text-box">
	<div class="text">
	{% autoescape false %}
		{{ text|htmlify(True) }}
	{% endautoescape %}
	</div>
</div>
<a id="next" href="{{ url_for("comptext.view_texts", page=page) }}">{{ _("Back") }}</a>
{% endblock %}

