{% extends "layout-comptext.html" %}

{% block link %}
<link rel="stylesheet" href="{{ url_for("static", filename="next-page.css") }}" />
{% endblock %}

{% block content %}
{% for T in texts %}
	<a href="{{ url_for("comptext.view_texts", page=page, text_id=T.id) }}">{{ T.title }}</a>
	<br />
{% endfor %}
<a id="next" href="{{ url_for("comptext.view_texts", page=page + 1) }}">{{ _("Next page") }}</a>
{% endblock %}
