{% extends "layout-rte.html" %}

    {# Macro to generate CSS classes for each annotation option.
    If the option corresponds to the (non-CSS!) class currently assigned to the
    item, the CSS class "selected" is added. #}
{% macro generateClasses(pair, this_option, annotation_type) %}
    {%- if annotation_type == 'similarity' %}
        {% set value = pair.annotation.similarity %}
    {%- else %}
        {% set value = pair.annotation.entailment %}
    {%- endif %}
    
    {%- if pair.annotation != None %}
        {# pair has been annotated with some class #}
        
        {%- if value == this_option %}
            button annotation-option selected
        {%- else %}
            button annotation-option
        {%- endif %}
        
    {%- else %}
        button annotation-option
    
    {%- endif %}
{%- endmacro %}

    {# Macro to create a navigation div with previous and next links. #}
{% macro navigationDiv() %}
    <div class="navigation-container">                
        <span class="navigation navigation-next">
            {% if num_pages is defined %}
                {% if page < num_pages %}<a href="{{ url_for_other_page(page + 1) }}">Next</a>{% endif %}
            {% else %}
                <a href="{{ url_for_other_page(page + 1) }}">Next</a>
            {% endif %}
        </span>
    </div>
{%- endmacro %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='view-rte.css') }}" />
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='utils.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery-2.1.4.min.js') }}"></script>
<script>
  {% include 'view-rte.js' %}
</script>
{% endblock %}

{% block content %}
    <div id="upper-panel">
        <div id="dataset-properties">
            <p>Dataset properties:</p>
            <table class="properties">
                <tr>
                    <th>File name</th>
                    <th>Size</th>
                    <th>Fully annotated</th>
                    <th>Annotated pairs by you</th>
                </tr>
                <tr class="data">
                    <td>{{ file.name }}</td>
                    <td class="number">{{ file.num_reviewed_and_kept }}</td>
                    <td id="num_annotated" class="number">{{ file.num_annotated_enough }}</td>
                    <td id="num_annotated_user" class="number">{{ file.num_annotated_by_user }}</td>
                </tr>
            </table>
        </div>
        
        <fieldset id="annotation-control">
            <legend>Annotation Options</legend>
            <span>Intended annotations per pair:</span>
            <span  id="annotations-per-pair" class="number" type="number">{{ annotations_per_pair }}</span>
            <br/>
            
        </fieldset>
    </div>
    
{% if pairs %}
    {{ navigationDiv() }}
    
    <div id="rte-pairs">
        <ul class="pair-list no-style">
        {% for pair in pairs %}
            <li class="rte-pair" data-pair-id="{{ pair.id }}">
                {% if current_user.may_edit_pair() %}
                    <div class="review-panel" >
                        <ul class="no-style">
                            <li class="review-option review-feedback review-confirm">
                                <img class="edit-icon icon" src="{{ url_for('static', filename='ok.png') }}" />
                                <span class="tooltip">Submit changes</span>
                            </li>
                            
                            <li class="review-option review-edit">
                                <img class="edit-icon icon" src="{{ url_for('static', filename='edit.png') }}" />
                                <span class="tooltip">Flag for editing</span>
                            </li>
                            
                            <li class="review-option review-delete">
                                <img class="delete-icon icon" src="{{ url_for('static', filename='delete.png') }}" />
                                <span class="tooltip">Delete pair</span>
                            </li>
                        </ul>
                    </div>
                {% endif %}
                
                <div class="pair-contents">
                    <div class="pair1">
                        <span class="text-label">Text 1</span>
                        <span class="text-content">{{ pair.t }}</span>
                    </div>
                    
                    <div class="pair2">
                        <span class="text-label">Text 2</span>
                        <span class="text-content">{{ pair.h }}</span>
                    </div>
                </div>
                
                <div class="annotation-panel">
                    
                    
                    <div class="similarity-panel">
                        <strong>Relatedness:</strong>
                        <button class="similarity-button {{ generateClasses(pair, 1, 'similarity') }}" data-sim-class="1">1
                            <span class="tooltip">Completely different sentences, on different subjects</span>
                        </button>                        
                        
                        <button class="similarity-button {{ generateClasses(pair, 2, 'similarity') }}" data-sim-class="2">2
                            <span class="tooltip">Sentences are not related, but are roughly on the same subject</span>
                        </button>
                        
                        <button class="similarity-button {{ generateClasses(pair, 3, 'similarity') }}" data-sim-class="3">3
                            <span class="tooltip">Sentences are somewhat related; they may describe different facts but share some details</span>
                        </button>
                        
                        <button class="similarity-button {{ generateClasses(pair, 4, 'similarity') }}" data-sim-class="4">4
                            <span class="tooltip">Sentences are strongly related, but some details differ</span>
                        </button>
                        
                        <button class="similarity-button {{ generateClasses(pair, 5, 'similarity') }}" data-sim-class="5">5
                            <span class="tooltip">Sentences mean essentially the same thing</span>
                        </button>
                    </div>
                    <span id="{{ pair.id }}-similarity-feedback" class="annotation-feedback"></span>
                    <div class="entailment-panel">
                        <strong>Entailment:</strong>
                        <button class="entailment-button {{ generateClasses(pair, 1, 'entailment') }}" data-rte-class="1">First entails second
                            <span class="tooltip">If the first sentence is true, then the second is also true</span>
                        </button>
                        <button class="entailment-button {{ generateClasses(pair, 2, 'entailment') }}" data-rte-class="2">Second entails first
                            <span class="tooltip">If the second sentence is true, then the first is also true</span>
                        </button>
                        <button class="entailment-button {{ generateClasses(pair, 3, 'entailment') }}" data-rte-class="3">Paraphrase
                            <span class="tooltip">If either sentence is true, then the other is also true</span>
                        </button>
                        <button class="entailment-button {{ generateClasses(pair, 4, 'entailment') }}" data-rte-class="4">None
                            <span class="tooltip">Either sentence being true doesn't imply anything about the other</span>
                        </button>
                    </div>
                    <span id="{{ pair.id }}-entailment-feedback" class="annotation-feedback"></span>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
    
    {{ navigationDiv() }}
{% endif %}

{% endblock %}
