<p>{{ _('Welcome to the annotation platform') }} <b>Anota!</b></p>
<br />
<p>O <b>Anota!</b> é uma plataforma online de anotação textual
	colaborativa, destinada a usuários pré-cadastrados.</p>
<p>Nesta tarefa específica, anotar é adicionar um rótulo a um par de textos.</p>

{#
Atualmente adaptada para anotação de duas tarefas:
<ul>
	<li>Avaliação de Similaridade Semântica e Inferência Textual</li>
	<li>Avaliação de Complexidade Textual via Comparação de Pares de Textos</li>
</ul>
#}

<p>Ao final da anotação, a plataforma gera estatísticas sobre a anotação
	colaborativa.</p>
